@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1731644608465') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dayubaitian:before {
  content: "\e726";
}

.icon-dongyu:before {
  content: "\e727";
}

.icon-duoyun:before {
  content: "\e728";
}

.icon-leidian:before {
  content: "\e729";
}

.icon-duoyunyewan:before {
  content: "\e72a";
}

.icon-dayu:before {
  content: "\e72b";
}

.icon-leizhenyu-2:before {
  content: "\e72c";
}

.icon-leidianyewan:before {
  content: "\e72d";
}

.icon-leibaodayubaitian:before {
  content: "\e72e";
}

.icon-leizhenyubaitian:before {
  content: "\e72f";
}

.icon-leibaodayu:before {
  content: "\e730";
}

.icon-feng:before {
  content: "\e731";
}

.icon-yin:before {
  content: "\e732";
}

.icon-wu:before {
  content: "\e733";
}

.icon-qing:before {
  content: "\e734";
}

.icon-leizhenyuyewan-2:before {
  content: "\e735";
}

.icon-qiwenyewan:before {
  content: "\e736";
}

.icon-leizhenyu:before {
  content: "\e737";
}

.icon-wuyewan:before {
  content: "\e738";
}

.icon-qingwu:before {
  content: "\e739";
}

.icon-zhenyuyewan:before {
  content: "\e73a";
}

.icon-qiwenbaitian:before {
  content: "\e73b";
}

.icon-zhenxue:before {
  content: "\e73c";
}

.icon-zhenxueyewan:before {
  content: "\e73d";
}

.icon-leizhenyuyewan:before {
  content: "\e73e";
}

.icon-xue:before {
  content: "\e73f";
}

.icon-zhenfeng:before {
  content: "\e740";
}

.icon-zhenfeng-2:before {
  content: "\e741";
}

.icon-zhenyu-2:before {
  content: "\e742";
}

.icon-zhenfengyewan:before {
  content: "\e743";
}

.icon-zhenyu:before {
  content: "\e744";
}

.icon-zhongwu:before {
  content: "\e745";
}

.icon-zhenyubaitian:before {
  content: "\e746";
}

.icon-zhenyuyewan-2:before {
  content: "\e747";
}

.icon-leidianbaitian:before {
  content: "\e748";
}

